name: Release

on:
  push:
    branches:
      - master

env:
  HUSKY: 0

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write

    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}

    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        id: release
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC

    needs: release-please
    if: ${{ needs.release-please.outputs.releases_created == 'true' }}

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline --ignore-scripts

      - run: pnpm run build
        working-directory: ./packages/eslint-plugin-wyrm/

      - run: pnpm publish
        working-directory: ./packages/eslint-plugin-wyrm/
