on:
  push:
    branches:
      - master

permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write # Required for OIDC

name: Release

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          path: packages/eslint-plugin-wyrm/
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}

      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
        if: ${{ steps.release.outputs.release_created }}

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'
          registry-url: https://registry.npmjs.org/
        if: ${{ steps.release.outputs.release_created }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline --ignore-scripts
        if: ${{ steps.release.outputs.release_created }}

      - run: pnpm build
        working-directory: ./packages/eslint-plugin-wyrm/
        if: ${{ steps.release.outputs.release_created }}

      - run: pnpm publish
        working-directory: ./packages/eslint-plugin-wyrm/
        if: ${{ steps.release.outputs.release_created }}
